{% extends 'base/base.html' %}
{% load static %}
{% block title %}Liberar Documento{% endblock title %}

{% block content %}

<h2 align="center">Liberar documento</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="reviewInput">Revisar:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="reviewInput" name="reviewInput" placeholder="Buscar...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Opción 1</a>
                        <a class="dropdown-item" href="#">Opción 2</a>
                        <a class="dropdown-item" href="#">Opción 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ pdf_url }}" width="450" height="500"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pendingDocs">Documentos pendientes por liberar</label>
                    <textarea class="form-control" id="pendingDocs" name="pendingDocs" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="comment">Comentario:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="fileUpload">Arrastra el archivo editado aquí</label>
                    <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                </div>
                <br>
                <!-- Botones Firmar y Rechazar -->
                <button type="submit" class="btn btn-success" name="action" value="sign">
                    Firmar <i class="fas fa-check"></i>
                </button>
                <button type="submit" class="btn btn-danger" name="action" value="reject">
                    Rechazar <i class="fas fa-times"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
